:root {
    --surface-color: #fff;
    --curve: 10;
    
}

* {
    box-sizing: border-box;
   
}

body {
    font-family:  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    overflow-x: hidden;
    height: 100%;
    
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 5rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 13px; 
    overflow: hidden;
    text-decoration: none;
}
.card__header-text{
    width: 200px;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    overflow: hidden;
}
.searchBox {
    position: absolute;
    top: -3px;
    left: 11%;
    transform: translate(-50%, 50%);
    background: #4c678d;
    height: 54px;
    border-radius: 13px;
    padding: 10px;
}

 .searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
} 

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: rgb(57, 57, 57);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 35px;
    

}


.container{
   display: flex;
   flex-direction: column;
   margin-top: 80px;
padding-bottom: 60px;
}
.footer {
    left: 0;
    bottom: 0;
    right: 0; 
    background-color: inherit;
    color: white;
    text-align: center;
    height: 50px;
    width: 100vw;
    margin-bottom: 0;
    margin-right: 2em;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #2f3640;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #fcfcfc;
    font-size: 15px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
    background-color: #dfdfdf;
    color:#2e257e;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.container {
    display: grid;
    margin-top: 0;
    margin-left: 5px;
    grid-template-rows: auto auto;
    grid-template-columns: 41% 70%;
    grid-template-areas: "topp topp"
            "image more";
    gap: 8px 24px;
    
}

.more {
    grid-area: more;
    margin-right: 240px;
    
   
}
.more p{
word-wrap: break-word;

}

.image {
    grid-area: image;
    position: relative;
}
.top{
    grid-area: topp ;
    text-align: center;
}
@media screen and (max-width: 620px) {
    .top {
        font-size: 10px;
        padding: 0 6px;
    }
    .footer{
        position: absolute;
        bottom: -74px;
        width: 111vw;
    }
}
.option{
    text-align: right;
    margin: 27px 10px 10px 15px;

}
.option select{
    width: 265px;
    height: 50px;
    border-radius: 10px;
    background: #4c678d;

}
.option select:hover{
    width: 340px;
    padding: 2px 6px;
}


/* @media (min-width: 640px) {
.searchBox {
        top: 2%;
        left: 30%;
    }
} */

/* @media (min-width: 768px) {

    
} */


 /* @media (min-width: 1024px) {
.searchBox {
    top: 2%;
    left: 30%;
        
    }
    

} */

/* @media (min-width: 1200px) {

    ...
}  */